
@{
    ViewData["Title"] = "Связаться С Нами";
}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6ZtDc_Uz617sMSw5q1qrQpivSaThl_Tc&callback=initMap&libraries=&v=weekly"
        defer></script>
<style type="text/css">
    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #header {
        position: relative;
    }
</style>
<script>
    "use strict";

    function initMap() {
        const myLatLng = {
            lat: 40.939160,
            lng: 72.985850,
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: myLatLng,
        });
        var infowindow = new google.maps.InfoWindow({
            content: 'Компания Келечек ЗАО'
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Компания Келечек"
        });
        infowindow.open(map, marker);
    }
</script>

<div id="map" class="w-100" style="height: 70vh;"></div>

<div class="row mx-auto pl-3 pr-3 pt-5 pb-5 w-100">
    <div class="col-md">
        <div class="row">
            <div class="col-2 p-2">
                <i class="fa fa-map-marker" style="font-size:48px;" aria-hidden="true"></i>
            </div>
            <div class="col">
                <h3>Адрес</h3>
                <p>Филиал &laquo;Бурулсун-ПЭТ&raquo; при ЗАО &laquo;Келечек&raquo; г.Жалалабад ул.ВЛКСМ №20</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="row">
            <div class="col-2 p-2">
                <i class="fa fa-phone" style="font-size:48px;" aria-hidden="true"></i>
            </div>
            <div class="col">
                <h3>Телефонный номер</h3>
                <p>+996 776707009</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="row">
            <div class="col-2 p-2">
                <i class="fa fa-clock-o" style="font-size:48px;"></i>
            </div>
            <div class="col">
                <h3>Время открытия</h3>
                <p>С 8:00 до 17:00</p>
            </div>
        </div>
    </div>
    <div class="col-md">
        <div class="row">
            <div class="col-2 p-2">
                <i class="fa fa-envelope" style="font-size:48px;"></i>
            </div>
            <div class="col">
                <h3>Эл. адрес</h3>
                <p>kelechek2020@rambler.ru</p>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 pt-3 pb-3" style="background-color: #f7f7f7;">
    <div class="col-md-3"></div>
    <div class="col col-md-6">
        <form id="frmSendMessage" method="get">
            <h3 class="pl-3">Оставить сообщение</h3>
            <div class="form-row p-3">
                <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Имя и фамилия" required>
            </div>
            <div class="form-row p-3">
                <input type="text" class="form-control" id="txtEmail" name="txtEmail" placeholder="Эл. адрес" required>
            </div>
            <div class="form-row p-3">
                <input type="text" class="form-control" id="txtTheme" name="txtTheme" placeholder="Тема" required>
            </div>
            <div class="form-row p-3">
                <textarea class="form-control" id="txtMessage" name="txtMessage" placeholder="Сообщение" required></textarea>
            </div>
            <div class="form-row p-3">
                <button id="btnSubmitMessage" class="btn btn-danger w-100 justify-content-center" type="submit">
                    Послать
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

