<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Келечек</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />  


</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Келечек
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end text-center">                        
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/Home/Portfolio">Наши Продукты</a>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link text-light btn btn-outline-dark border border-warning" href="/Home/Contact">Связаться с нами</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-dark text-light">
        <div class="container">
            <div class="row mx-auto p-1 w-100">
                <div class="col-sm">
                    <div class="row">
                        <div class="col-2 p-2">
                            <i class="fa fa-phone" style="font-size:48px;" aria-hidden="true"></i>
                        </div>
                        <div class="col">
                            <h3>Телефонный номер</h3>
                            <p>+996 776707009</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="col-2 p-2">
                            <i class="fa fa-envelope" style="font-size:48px;"></i>
                        </div>
                        <div class="col">
                            <h3>Эл. адрес</h3>
                            <p>kelechek2020@rambler.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 justify-content-center border-top">
                <a class="p-2" href="/en"><u>Main Page</u></a>
                <a class="p-2" href="/Home/Portfolio"><u>Наши Продукты</u></a>
                <a class="p-2" href="/Home/Contact"><u>Связаться с нами</u></a>
            </div>
            <div class="text-center border-top p-3">
                Авторское право &copy; 2020 - Компания Келечек. Все права защищены
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let $btn = $('#header');

        $(window).scroll(function () {

            if ($(window).scrollTop() > 300) {
                if ((window.innerWidth >= 800) && (window.innerHeight >= 600)) {
                    $btn.css("-ms-filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)");
                    $btn.css("filter", "alpha(opacity = 100);");
                    $btn.css("-moz-opacity", "1");
                    $btn.css("-khtml-opacity", "1");
                    $btn.css("opacity", "1");
                } else {

                    $btn.css("-ms-filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)");
                    $btn.css("filter", "alpha(opacity = 0);");
                    $btn.css("-moz-opacity", "0");
                    $btn.css("-khtml-opacity", "0");
                    $btn.css("opacity", "0");

                }
            } else {
                $btn.css("-ms-filter", "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)");
                $btn.css("filter", "alpha(opacity = 100);");
                $btn.css("-moz-opacity", "1");
                $btn.css("-khtml-opacity", "1");
                $btn.css("opacity", "0.8");
            }

        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
